#searchjum{
    background: #014b9600;
    color: #FFFFFF;
}
#insidenav{
    background: linear-gradient(45deg, #014C96 2%, #0073E6 25%, #014C96 48%, #0073E6 77%, #014C96 98%);
    color: white;
    font-size: 13px;
}
nav a{
    font-size: 16px;
    font-family: ubuntu;
    color: white;
}
nav ul li {
    font-size: 16px;
    font-family: ubuntu;
}
li.active{
    background: #014C96;
}
#subcontent{
    background: lavender;
    color: black;
    font-size: 13px;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #aed1e6;
}
div.bmsTop{
    list-style-type: none;
    display: block;
    background:transparent;
    padding: 10px 8px 8px;
    margin-bottom: 10px;

}
div.bmsTop ul li{
    display: inline;
    overflow: hidden;
}
.panel {
    border: 1px solid #aed1e6;
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #aed1e6;
    background-color: #fff !important;
    color: #aed1e6;
}

.panel-heading {
    color: #fff !important;
    background: linear-gradient(45deg, #014C96 2%, #0073E6 25%, #014C96 48%, #0073E6 77%, #014C96 98%);
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background: linear-gradient(45deg, #014C96 2%, #0073E6 25%, #014C96 48%, #0073E6 77%, #014C96 98%);
    color: #fff;
}
body{
    background-image: url("../images/bg2.jpg");
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: normal;
    font-size: 16px;

}