#searchjum{
    background-color: #cdddeb; /* Orange */
    color: #1b6d85;
}
#insidenav{
    background: steelblue;
    color: white;
    font-size: 13px;
    
}
nav a{
    font-size: 16px;
    font-family: ubuntu;
    color: white;
}
nav ul li {
    font-size: 16px;
    font-family: ubuntu;
}
li.active{
    background: #1b6d85;
}
#subcontent{
    background: lavender;
color: black;
    font-size: 13px;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #aed1e6;
}
div.bmsTop{
    list-style-type: none;
    display: block;
    background:transparent;
    padding: 10px 8px 8px;
    margin-bottom: 10px;

}
div.bmsTop ul li{
    display: inline;
    overflow: hidden;
}
body{
    background: url("paper.png");
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
